<% provide :title, t(".title") %>
<% provide :base, t(".base") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".content_1" %>
  <%= link_to t(".href_1"), "http://www.railstutorial.org/help" %>.
  <%= t ".content_2" %>
  <%= link_to t(".href_2"), "http://www.railstutorial.org/book" %>.
</p>
